<link rel="stylesheet" href="/static/css/hello.css">
<script src="../static/javascript/preview_img.js"></script>
{% extends "base.html" %}
{% block content %}
<body>
    <div class="container1">
        <h1 id="heading">RAMEMO</h1>
        <div class="ramenimg"><img src="/static/images/ramen.png" width="200" height="200"></div>
    </div>
    <div class="button-container">
        <div class="button-item"><a href="/login" class="btn_04">ログインする</a></div>
        <div class="button-item"><a href="/register" class="btn_03">アカウントを作成</a></div>
    </div>
</body>
<script src="../static/js/hello.js"></script>
{% endblock %}